body {
    background-color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

content {
    width: 60%;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #4B4D4B;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 2%;
    border-radius: 2px;
    box-shadow: 1px 1px 2px 1px black;
}

content:hover {
    box-shadow: 3px 3px 2px 1px black;
}

form {
    width: 100%;
}

#title-div {
    display: flex;
    justify-content: center;
}

#title {
    margin: 10px;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 97%;
}

.ck.ck-reset.ck-editor.ck-rounded-corners {
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    height: 20%;
}

#submit {
    display: flex;
    justify-content: center;
}

.add-article {
    margin: 10px;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
}