#startMenuWrapper {
    margin-left: auto;
    margin-right: auto;
}

#startMenuWrapper h2 {
    color: #EDE7D9;
    font-size: 24px;
    padding: 0;
    margin: 0;
    margin-bottom: 2%;
}

#login-menu {
    text-align: center;
    width: 70%;
    padding: 2%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    background: #4B4D4B;
    border-radius: 3px;
    box-shadow: 1px 1px 2px 1px black;
    transition-duration: 0.4s;
}

#login-menu:hover {
    box-shadow: 3px 3px 2px 1px black;
}

#signin-menu {
    text-align: center;
    width: 70%;
    padding: 2%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    background: #4B4D4B;
    border-radius: 3px;
    box-shadow: 1px 1px 2px 1px black;
    transition-duration: 0.4s;
}

#signin-menu:hover {
    box-shadow: 3px 3px 2px 1px black;
}

@media (min-width: 800px) {
    #login-menu {
        width: 50%;
    }    

    #signin-menu {
        width: 50%;
    }    
}

@media (min-width: 1000px) {
    #login-menu {
        width: 35%;
    }    

    #signin-menu {
        width: 35%;
    }    
}

#form-login {
    display: flex;
    flex-direction: column;
}

#form-signin {
    display: flex;
    flex-direction: column;
}

form input {
    margin-top: 2%;
    margin-bottom: 2%;
}

form button {
    margin-top: 5%;
}

form input[type="password"], form input[type="text"], form button[type="submit"], form input[type="email"] {
    padding: 2%;
    
    color: #333;
    background: #FDFBFD;

    border-radius: 5px;

    outline: 0;
}

form p {
    color: red;
}

form button[type="submit"] {
    margin-bottom: 2%;
}

form input[type="password"]:hover, form input[type="text"]:hover {
    background-color: rgb(204, 204, 204);
}

form input[type="password"]:focus, form input[type="text"]:focus {
    background-color: #ccc;
}

form button[type="submit"] {
    font-weight: bold;
    color: #eee;
    background-color: darkgray;
}

form button[type="submit"]:hover {
    background-color: gray;
}

#nbr-player {
    text-align: center;
    color: #EDE7D9;
}

#infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#buttons {
    margin: 5%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
}

#play-button {
    outline: none;
    width: 33%;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px black;
    background-color: #4B4D4B;
    border: 2px solid rgb(92, 166, 185);
    color: #EDE7D9;
    transition-duration: 0.3s;
}

#play-button:hover {
    background-color: rgb(92, 166, 185);
    box-shadow: 3px 3px 2px 1px black;
    cursor: pointer;
}

#play-button:active {
    transform: translateY(2px);
    box-shadow: 1px 1px 2px 1px black;
}

#articles {
    margin-top: 3%;
}

#article {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: #4B4D4B;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #EDE7D9;
    margin-bottom: 2%;
    border-radius: 2px;
    box-shadow: 1px 1px 2px 1px black;
}

#article-content {
    margin-top: 3%;
    border-top: 1px solid black;
}

#titre-date span {
    margin-bottom: 0;
    padding-bottom: 0;
}