.game {
    display: flex;
    flex-direction: row-reverse;
}

.app-screen {

}

.app-chat {
    position: relative;
    padding: 1%;
    margin: 1%;
    border: 1px solid black;
    border-radius: 2%;
    background-color: lightgray;
    width: 45%;
    min-width: 300px;
}

.form-messages {
    position: absolute;
    bottom: 2%;
    width: 95%;
    height: 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-messages input {
    width: 75%;
}

.form-messages button {
    width: 20%;
}